#title {
/*	background-color: red;
*/	margin: 10px;
}

#input {
/*	background-color: yellow;
*/	display: flex;
	flex-flow: column wrap;
	width: 400px;
	margin: 20px;

}

#container {
/*	background-color: blue;
*/	margin: 20px;
	display: flex;
	flex-flow: row wrap;
}

textarea {
	width: 300px;
	height: 50px;
	font-size: 15px;
	margin: 10px;

}

button {
	width: 100px;
	margin: 10px;
}

h4 {
	margin: 10px;	
}

body {
	font-family: 'Lato', sans-serif;
}


.day {
	flex: 0 0 20%;
}

h3 {
	flex: 0 0 100%;
}